@charset "utf-8";
/* CSS Document */

body,div,input,hr,img{margin:0;padding:0;}
body{
	background:url(../img/sea.png) fixed;
	}
.container{
	width:70%;
	margin:0 auto;
	}
.header{
	margin:2em auto;
	
	}
.leftPic{
	width:50%;
	margin-top:2em;
	margin-left:2em;
	float:left;
	}
.rightLogin{
	margin-top:1em;
	padding-bottom:3em;
	margin-right:1em;
	width:35%;
	float:right;
	background:url(../img/login_box.png) no-repeat;
	}
.button{
	 margin-top:30px;
	 width:100%;
	 margin-right:1em;
	 height:30px;
	}
.pngalpha{ 
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	background:-moz-linear-gradient(#fff,#333);
	background:-o-linear-gradient(#fff,#333);
	background:-webkit-linear-gradient(#fff,#333);
	background:-ms-linear-gradient(#fff,#333);
	background:linear-gradient(#fff,#333)
	border:none; 
	width:57px; 
	height:28px; 
	float:left; 
	margin-left:50px;
	border-radius:0.5em;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
}