/* CSS Document */
#button_name ul{
	margin:0;
	padding:0;
}
#button_name ul li{
	list-style-type:none;
	float:left;
	width:150px;
}
#s_buttonn{
	margin-top:1em;
	display:none
}
#allottable{
	clear:both;
	margin-top:17px;
}
#result{
	clear:both;
	margin-top:17px;	
}
#applytable{
	display:none;
	margin-top:17px;	
}
#list_1,#list_2,#list_3{
	clear:both;
	margin-top:1em;
	display:none;
	
}


