/* CSS Document */

#title{
		float:left;
	}
		#color{
			width:155px;
			height:20px;
			background-color:#6699CC;
			text-align:center;
			font-size:18px;
			font-weight:bold;
			color:#FFFFFF;
			padding-top:5px;
			
		}
		#main_title{
			height:150px;
			width:153px;
			border:1px solid #a6a6a6;
			text-align:center;
			
		
		}
		#thinking,#practive{
			width:153px;
			color:#FFFFFF;
			}
		
	#thinking a,#practive a{
			text-decoration:none;
			color:#009999;
		}
	#thinking a:hover,#practive a:hover {
			background-color:#a6a6a6;
			width:153px;
			height:25px;
			float:left;
			padding-top:10px;
			color:#fff;
			font-weight:bold;
			
		}
		#table{
			margin-left:200px;
			
		}
.tr_1{
	width:200px;
	height:30px;
	display:in;
	text-align:left
}
.tr_2{
	width:100px;
	height:30px;
	
}